<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">

  <meta name="facebook-domain-verification" content="natqtpf85ylrrnplrgpd3wgdi476y5" />
  
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}

  {%- render 'font-face' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {%- render 'css-variables' -%}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      home: "{{ routes.root_url }}",
      cart: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url | append: '.js'}}",
      cartChange: "{{ routes.cart_change_url }}"
    };
    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      dynamicVariantType: {{ settings.variant_type | json }},
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      recentlyViewedEnabled: false,
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      inventoryThreshold: {{ settings.inventory_threshold }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'Impulse',
      themeVersion: "3.6.2"
    };
  </script>

  {{ content_for_header }}

  <script src="{{ 'vendor-scripts-v7.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="preload" as="style" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}">
  {%- endif -%}

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
{% render 'printerlo' %}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N4P4WX0X9G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N4P4WX0X9G');
</script>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '614259553954809');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=614259553954809&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->


        <!-- SlideRule Script Start -->
        {% include 'sliderule-data' %}
        <!-- SlideRule Script End -->
        </head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}" data-center-text="{{settings.type_body_align_text}}" data-button_style="{{settings.button_style}}" data-type_header_capitalize="{{settings.type_header_capitalize}}" data-type_headers_align_text="{{settings.type_headers_align_text}}" data-type_product_capitalize="{{settings.type_product_capitalize}}" data-swatch_style="{{settings.swatch_style}}" {% if settings.disable_animations %}data-disable-animations="true"{% endif %}>
  <script async data-environment="production" src="https://osm.klarnaservices.com/lib.js" data-client-id="99c4e570-bde9-5cde-af0a-d1dc96eceb1d"></script>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {%- section 'header' -%}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer-promotions' -%}
      {%- section 'footer' -%}

    </div>
  </div>

  {%- section 'newsletter-popup' -%}

  {%- if settings.cart_type == 'drawer' -%}
    {%- render 'ajax-cart-template' -%}
  {%- endif -%}

  <div class="hide">
    <button data-id="prevArrowTemplate" class="slick-prev" aria-label="{{ 'general.pagination.previous' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.previous' | t }}</span>
    </button>
    <button data-id="nextArrowTemplate" class="slick-next" aria-label="{{ 'general.pagination.next' | t }}" type="button">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
      <span class="icon__fallback-text">{{ 'general.pagination.next' | t }}</span>
    </button>
  </div>

  {%- if settings.predictive_search_enabled -%}
    {%- render 'predictive-template' -%}
  {%- endif -%}

  {%- render 'video-modal' -%}
  {%- render 'photoswipe-template' -%}
  {%- if template contains 'product' -%}
    {%- render 'recently-viewed-product-template' -%}
  {%- endif -%}
{% include 'textBoxScript' %}

</body>
</html>

<!-- Begin Shopify-Clearpay JavaScript Snippet (v1.1.5) -->
{% if cart.currency.iso_code == shop.currency %}
  <script type="text/javascript">
  // Overrides:
  // var clearpay_min = 1.00;       // As per your Clearpay contract.
  // var clearpay_max = 1000.00;    // As per your Clearpay contract.
  // var clearpay_msg_size = 'sm';  // Can be 'xs', 'sm', 'md' or 'lg'.
  // var clearpay_bold_amount = true;
  // var clearpay_logo_theme = 'colour';  // Can be 'colour', 'black' or 'white'.
  // var clearpay_modal_open_icon = true;
  // var clearpay_hide_upper_limit = false;
  // var clearpay_hide_lower_limit = true;
  // var clearpay_show_if_outside_limits = true;
  // var clearpay_cbt_enabled = false;
  
  // var clearpay_product_integration_enabled = true;
  // var clearpay_product_selector = '#product-price-selector';
  // var clearpay_variable_price_fallback = false;
  // var clearpay_variable_price_fallback_selector = '';
  // var clearpay_variable_price_fallback_method = 'mutation';  // Can be 'mutation' or 'interval'.
  
  // var clearpay_cart_integration_enabled = true;
  // var clearpay_cart_static_selector = '#cart-subtotal-selector';
  // var clearpay_variable_subtotal_fallback = false;
  // var clearpay_variable_subtotal_fallback_selector = '';
  // var clearpay_variable_subtotal_fallback_method = 'mutation'; // Can be 'mutation' or 'interval'.
  // var clearpay_cart_dynamic_integration_enabled = false;
  
  // var clearpay_footer_logo_enabled = true;
  // var clearpay_footer_logo_format = 'icon';  // Can be 'icon', 'stacked' or 'logo'.
  // var clearpay_footer_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
  // var clearpay_footer_logo_background = 'border';  // Can be 'border' or 'transparent'.
  // var clearpay_footer_logo_container = 'footer ul.payment-icons';
  // var clearpay_footer_logo_template = '<li class="payment-icon"><object data="{logo_path}" type="image/svg+xml"></object></li>';
  
  // Non-editable fields:
  var clearpay_js_language = {{ localization.language.iso_code | slice: 0, 2 | json }};
  var clearpay_js_country = {{ localization.country.iso_code | json }};
  var clearpay_shop_currency = {{ shop.currency | json }};
  var clearpay_cart_currency = {{ cart.currency.iso_code | json }};
  var clearpay_shop_money_format = {{ shop.money_format | json }};
  var clearpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
  var clearpay_theme_name = {{ theme.name | json }};
  var clearpay_product = {{ product | json }};
  var clearpay_current_variant = {{ product.selected_or_first_available_variant | json }};
  var clearpay_cart_total_price = {{ cart.total_price | json }};
  var clearpay_js_snippet_version = '1.1.5';
  </script>
  <script type="text/javascript" src="https://static.afterpay.com/shopify-clearpay-javascript.js"></script>
  {% else %}
  <!-- Clearpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
  {% endif %}
  <!-- End Shopify-Clearpay JavaScript Snippet (v1.1.5) -->
  